.body {
    background-color: #003EB3;
}
.container {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit);
  }
  .container .tile {
    width: 200px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .1);
    cursor: pointer;
  }
  .container .tile .coverart{
    padding: 10px;
  }
  .container .tile .title{
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: #14A9FF;
    width: 500px;
    max-width: 80%;
  }
  .modal .active {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid black;
  }
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-body .coverart {
    padding: 10px 5px;
  }
  .modal-body .overview {
    padding: 10px 15px;
  }
  .modal-footer {
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top:  1px solid black;
  }
  .modal-footer .add-button {
    cursor: pointer;
    border: 0.8px solid black;
    border-radius: 5px;
    outline: none;
    background-color: #14A9FF;
    font-size: 1.25rem;
    font-weight: bold;
  }
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  #overlay .active {
    opacity: 1;
    pointer-events: all;
  }