body {
    background-color: #003EB3;
}
#top {
    position: fixed;
    width: 100%;
    height: 20%;
    left: 0%;
    top: 0%;
    background-color: #112244;
    z-index: 1;
}
#top #home {
    text-align: left;
}
#top #scearch {
    text-align: center;
    top: 50%;
}
#top #scearch #title {
    text-align: center;
    color: whitesmoke;
    font-weight: 800px;
    font-size: 3em;
}
#main #results {
    font-weight: 600px;
    font-size: 2.5em;
    color: whitesmoke;
    text-align: center;
}
.container {
    padding: 6em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .container .tile {
    border: none;
    padding: 0.5em;
    border-radius: .5em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
  }
  .container .tile:hover {
    background-color: rgba(255, 255, 255, .1);
  }
  .container .tile .coverart{
    max-width: 100%;
  }
  .container .tile .title{
    padding-top: 1em;
    position: relative;
    font-size: 1.25rem;
    font-weight: bold;
    color: whitesmoke;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: #003EB3;
    width: 500px;
    max-width: 80%;
  }
  .modal .active {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid black;
  }
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-body .coverart {
    padding: 10px 5px;
  }
  .modal-body .overview {
    padding: 10px 15px;
  }
  .modal-footer {
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top:  1px solid black;
  }
  .modal-footer .add-button {
    cursor: pointer;
    border: 0.8px solid black;
    border-radius: 5px;
    outline: none;
    background-color: #14A9FF;
    font-size: 1.25rem;
    font-weight: bold;
  }
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 2;
  }
  #overlay .active {
    opacity: 1;
    pointer-events: all;
  }