#navbar {
    position: fixed;
    height: 10%;
    width: 100%;
    left: 0%;
    top: 0%;
    background-color: rgb(17, 34, 68);
    z-index: 2;
}
#navbar #logo {
    text-align: left;
    width: 20%;
    padding: 5em 2em;
    border: none;
    background-color: transparent;
    border-radius: .3em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
#navbar #logo #logopic {
    max-width: 100%;
}
#navbar #logo #logotitle {
    color: white;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    font-size: 3.5em;
    line-height: normal;
    font-stretch: normal;
}
#navbar #scearch {
    text-align: center;
    width: 20%;
    top: 5%;
    display: flex;
    justify-content: space-between;
}
#navbar #scearch #scearchbar {
    color: #707070;
    background-color: #112244;
    width: 15%;
    padding: 1em 2em;
    border: none;
    border-radius: .3em;
    cursor: auto;
}
#navbar #scearch #scearchbutton {
    color: #707070;
    background-color: #112244;
    width: 5%;
    padding: .5em;
    border: none;
    border-radius: .3em;
    cursor: pointer;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 280px;
    left: 0%;
    top: 0%;
    background-color: rgb(17, 34, 68);
    z-index: 1;
}
.sidebar .buttons {
    position: inherit;
    top: 10%;
    padding: 2em;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sidebar .buttons .button {
    position: inherit;
    border: none;
    border-radius: 1em;
    padding: 1.5em;
    background-color: transparent;
    cursor: pointer;
}
.sidebar .buttons .button:hover {
    background-color: rgba(255, 255, 255, .1);
}
.sidebar .buttons .button .active .picture {
    text-align: left;
    padding: .5em;
    max-width: 100%;
}
.sidebar .buttons .button .active .title {
    text-align: left;
    padding: .5em;
    color: white;
    font-size: 1.25em;
    font-style: Medium;
    font-family: Inter;
    font-weight: 300;
    line-height: 85%;
    font-stretch: normal;
    text-decoration: none;
}
.container {
    height: 90%;
    width: 80%;
    top: 10%;
    left: 280px;
    background-color: #003EB3;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .container .tile {
    border: none;
    padding: 0.5em;
    border-radius: .5em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
  }
  .container .tile:hover {
    background-color: rgba(255, 255, 255, .1);
  }
  .container .tile .coverart{
    max-width: 100%;
  }
  .container .tile .title{
    padding-top: 1em;
    position: relative;
    font-size: 1.25rem;
    font-weight: bold;
    color: whitesmoke;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: #003EB3;
    width: 500px;
    max-width: 80%;
  }
  .modal .active {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid black;
  }
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-body .coverart {
    padding: 10px 5px;
  }
  .modal-body .overview {
    padding: 10px 15px;
  }
  .modal-footer {
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top:  1px solid black;
  }
  .modal-footer .add-button {
    cursor: pointer;
    border: 0.8px solid black;
    border-radius: 5px;
    outline: none;
    background-color: #14A9FF;
    font-size: 1.25rem;
    font-weight: bold;
  }
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 3;
  }
  #overlay .active {
    opacity: 1;
    pointer-events: all;
  }