.results-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.results-binge-list-browse {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px;
  justify-content: flex-start;
  background-color: rgba(40, 69, 127, 1);
}
.results-feed {
  top: 161px;
  left: 0px;
  width: 634px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.results-text {
  top: 0px;
  left: 0px;
  color: rgb(17, 34, 68);
  width: 229px;
  height: 1080px;
  position: absolute;
  align-self: stretch;
  background-color: rgb(17, 34, 68);
}
.results-navbar {
  top: 0px;
  left: 229px;
  width: 1694px;
  height: 114px;
  display: flex;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  padding-left: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  padding-right: 0;
  flex-direction: row;
  padding-bottom: 0;
  justify-content: flex-start;
  background-color: #112244;
}
.results-text01 {
  top: 6px;
  color: rgb(255, 255, 255);
  right: 752px;
  position: absolute;
  font-size: 68px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.results-textinput {
  top: 39px;
  left: 80px;
  color: #707070;
  width: 310px;
  position: absolute;
  align-self: center;
  background-color: #28457f;
}
.results-textinput:focus-within {
  color: var(--dl-color-gray-white);
}
.results-untitled1 {
  top: 31px;
  left: 6px;
  width: 55px;
  height: 55px;
  position: absolute;
  border-color: transparent;
}
.results-resultscontainer {
  flex: 0 0 auto;
  left: 229px;
  right: 0px;
  width: 1691px;
  bottom: -2px;
  height: 966px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
}
.results-text04 {
  top: 215px;
  left: 61px;
  color: rgb(112, 112, 112);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 85%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.results-text05 {
  top: 265px;
  left: 59px;
  color: rgba(111, 111, 111, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 85.00000238418579%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.results-text07 {
  top: 163px;
  left: 59px;
  color: rgb(111, 111, 111);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 85%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.results-navlink {
  display: contents;
}
.results-homebutton11 {
  top: 154px;
  left: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.results-navlink1 {
  display: contents;
}
.results-icon {
  top: 209px;
  fill: #707070;
  left: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  text-decoration: none;
}
.results-navlink2 {
  display: contents;
}
.results-interface-heart01 {
  top: 257px;
  left: 24px;
  width: 24px;
  height: 23px;
  position: absolute;
  text-decoration: none;
}
.results-text10 {
  top: 35px;
  left: 70px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .results-binge-list-browse {
    border-radius: 0px;
  }
  .results-text {
    color: rgb(17, 34, 68);
    position: static;
    background-color: rgb(17, 34, 68);
  }
  .results-navbar {
    top: 0px;
    flex: 1;
    right: 0px;
    width: 1533px;
    height: 114px;
    position: absolute;
    border-color: transparent;
    padding-left: 0px;
    background-color: #112244;
  }
  .results-text01 {
    top: 0px;
    left: 802px;
    color: rgb(255, 255, 255);
    right: 112px;
    height: auto;
    margin: auto;
    font-size: 68px;
    font-family: Poppins;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .results-text02 {
    top: 182px;
    left: 811px;
    margin: auto;
  }
  .results-textinput {
    top: 37px;
    left: 189px;
    color: var(--dl-color-gray-black);
    height: 34px;
    background-color: #28457F;
  }
  .results-resultscontainer {
    right: 0px;
    width: 1370px;
    bottom: 0px;
    height: 970px;
    position: absolute;
    border-color: transparent;
    border-style: inset;
    margin-right: 0px;
  }
  .results-text10 {
    top: 29px;
  }
}
.container {
  height: 90%;
  width: 80%;
  top: 10%;
  left: 280px;
  background-color: transparent;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container .tile {
  border: none;
  padding: 0.5em;
  border-radius: .5em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.container .tile:hover {
  background-color: rgba(255, 255, 255, .1);
}
.container .tile .coverart{
  max-width: 100%;
}
.container .tile .title{
  padding-top: 1em;
  position: relative;
  font-size: 1.25rem;
  font-weight: bold;
  color: whitesmoke;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 3px solid black;
  border-radius: 5px;
  z-index: 10;
  background-color: rgba(40, 69, 127, 1);
  min-width: 600px;
  max-width: 80%; 
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:  1px solid black;
}
.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body {
  display: flex;
}
.modal-body .coverart {
  text-align: left;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body .coverart .coverart2 {
  padding: 1em;
}
img {
  max-width: 100%;
}
.modal-body .overview {
  width: 50%;
  padding: 1em
}
.modal-footer {
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top:  1px solid black;
}
.modal-footer .add-button {
  cursor: pointer;
  border: 0.8px solid black;
  border-radius: 5px;
  outline: none;
  background-color: #14A9FF;
  font-size: 1.25rem;
  font-weight: bold;
}
.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 3;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}
